
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "GothamBold", sans-serif;

}

body{
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-rows: 4rem 300px 50px;
    align-items: center;
    justify-content: center;
    margin: 15%;
}
h1{
    grid-row: 1;
    margin: 20px;
    font-size: 3rem;
    color: aliceblue;

}
.perfilBox{
    grid-row: 2;
    display: flex;
    width: 70vw;
    text-align: center;
}
.perfil{
    margin: auto;
    width: 200px;
    height: 200px;
    background: gray;
    border-radius: 15px;
    color:aliceblue;
}
a{
    grid-row: 3;
    padding: 1rem;
    border: solid red 1px;
    color: aliceblue;
    text-decoration: none;
    margin-top: 5rem;
    text-align: center;
}

