
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "GothamBold", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}
main{
    display: grid;
    grid-template-rows: 4rem 300px 70px;
    grid-template-columns: 1fr 1fr 200px;
    align-items: center;
    margin: auto;
}
h1{
    grid-row: 1;
    margin: 20px;
    font-size: 3rem;
    color: aliceblue;

}
.perfilBox{
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
    width: 70vw;
    text-align: center;
}
.perfil{
    margin: auto;
    width: 200px;
    height: 200px;
    background: gray;
    border-radius: 15px;
    color:aliceblue;
}
#acessar{
    justify-content: center;
    grid-row: 3;
    grid-column: 2;
}
a{
    padding: 1rem;
    border: solid red 1px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}
a:after{
    position: absolute;
    content: "";
    background: #ff003b;
    transition: all .35s;
  }
a:hover{
    color: #fff;
    color: #333;
}
  
a:hover:after{
    width: 100%;
}