
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "GothamBold", sans-serif;

}
body{
    background-color: rgb(2, 46, 15);
}
header{
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background: linear-gradient(to bottom, rgb(1, 44, 1), rgba(0, 128, 0, 0));
    color: aliceblue;
    position: relative;
    z-index: 2;
}
#menu{
    display: flex;
    justify-content: space-around;
    width: 800px;
}
header p{
    display: flex;
    height: 40px;
    align-items: center;
}
header a{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    height: 40px;
}
#menu a:hover{
    transform: scale(1.5);
}
#hero{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 128, 0, 1), rgba(0, 128, 0, 0));
    z-index: -1;
}
#hero img{
    width: 100%;
}
#herospace{
    
    height: 800px;
}
h2{
    margin: 0px 0px 20px 100px;
}
.first{
    padding-top: 20px;
    background: linear-gradient(to bottom, rgba(33, 34, 33, 0.589), rgba(0, 128, 0, 0));

}
.grid{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: hidden;
    margin: auto;
    margin-bottom: 20px;
    scroll-behavior: auto;
}
.grid img{
    width: 320px;
    height: 190px;
    background-color: gray;
}
h2{
    color: white;
}
footer{
    color: aliceblue;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(1, 2, 1), rgba(0, 128, 0, 0));
}